body {
    width: 100vw;
    padding: 107px 30px 0;
}

/* ========= */

.title {
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

/* ========= */

.list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.artwork {
    width: calc(580px * var(--artwork));
    height: calc(300px * var(--artwork));
    background-size: cover;
    background-position: center;
    transition: background-color 0.3s ease;
}

.work .text {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--primary);
    transition: color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 10px;
}

.img1 { background-image: url(https://images.unsplash.com/photo-1526409049865-5b0b188372f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80); }
.img2 { background-image: url(https://images.unsplash.com/photo-1549619856-ac562a3ed1a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); }
.img3 { background-image: url(https://images.unsplash.com/photo-1561584697-c6a5a41f8359?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); }
.img4 { background-image: url(https://images.unsplash.com/photo-1549619856-ac562a3ed1a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); }
.img5 { background-image: url(https://images.unsplash.com/photo-1567443756539-26a8fdd248cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); }
.img6 { background-image: url(https://images.unsplash.com/photo-1553264646-7eb44743436f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=831&q=80); }

/* ========= */

.footer {
    width: 100vw;
    margin-top: 60px;
    margin-left: -30px;
}