body {
    width: 100vw;
    padding: 107px 30px 0;
}

@media (min-width: 450px) {
    body { padding: 107px 50px 0; }
}

@media (min-width: 1440px) {
    body { padding: 107px 50px 0; }
}

@media (min-width: 1660px) {
    body { padding: 127px calc(50vw - 720px) 0; }
}

/* ========= */

.title {
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

@media (min-width: 450px) {
    .title { margin-bottom: 30px; }
    .tabs { margin-bottom: 50px; }
}

/* ========= */

.wlist {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.artwork {
    width: calc(580px * var(--artwork));
    height: calc(300px * var(--artwork));
    background-size: cover;
    background-position: center;
    transition: background-color 0.3s ease;
}

.work .text {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--primary);
    transition: color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 10px;
}

.img1 { background-image: url(https://notjusta.github.io/squares/images/FDS.png); }
.img2 { background-image: url(https://notjusta.github.io/squares/images/DFC.png); }
.img3 { background-image: url(https://notjusta.github.io/squares/images/TTA.png); }
.img4 { background-image: url(https://notjusta.github.io/squares/images/LMS.png); }
.img5 { background-image: url(https://notjusta.github.io/squares/images/SCD.png); }
.img6 { background-image: url(https://notjusta.github.io/squares/images/BTS.png); }

@media (min-width: 711px) {
    .artwork {
        width: 580px;
        height: 300px;
    }

    .wlist {
        margin-top: 0;
        gap: 40px 0;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (min-width: 1660px) {
    .artwork {
        width: 667px;
        height: 345px;
    }
}

/* ========= */

.footer {
    width: 100vw;
    margin-top: 60px;
    margin-left: -30px;
}

@media (min-width: 711px) {
    .footer { margin-left: -50px; }
}

@media (min-width: 1440px) {
    .footer { margin-left: calc((1440px - 100vw)/2)!important; }
}