* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none!important;
}

:root {
    --bg: #181818;
    --primary: #F2F2F2;
    --secondary: #A2A2A2;
    --light: #1C1C1C;
    --button: #323232;

    --artwork: 0.1;

}

*::-webkit-scrollbar {
    display: none;
}
  
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* scroll-behavior: smooth; */
}

body {
    background-color: var(--bg);
}

button, input[type="submit"] {
    border: none!important;
    outline: none!important;

    padding: 6px 15px;
    background: var(--button);
    border-radius: 25px;
    width: fit-content;

    font-family: "Nunito";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--primary);
    transition: 0.3s ease;
    cursor: pointer;
}

button[active] {
    background: var(--secondary);
    color: var(--light);
}

@media (min-width: 711px) {
    button, input[type="submit"] {
        padding: 7px 17px;
        font-size: 18px;
    }
}

@media (min-width: 1440px) {
    button, input[type="submit"] {
        padding: 8px 20px;
        font-size: 20px;
    }
}

@media (min-width: 1660px) {
    button, input[type="submit"] {
        padding: 10px 26px;
        font-size: 24px;
    }
}

/* ========= */

@font-face {
    font-family: "Nunito";
    src: url("https://notjusta.github.io/squares/fonts/Nunito.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Nunito";
    src: url("https://notjusta.github.io/squares/fonts/Nunito.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Nunito";
    src: url("https://notjusta.github.io/squares/fonts/Nunito.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url("https://notjusta.github.io/squares/fonts/Montserrat.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("https://notjusta.github.io/squares/fonts/Montserrat.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("https://notjusta.github.io/squares/fonts/Montserrat.ttf") format("truetype");
    font-weight: 800;
}

@keyframes loaded {
    from { height: 100vh; }
    to { height: 0; }
}

@keyframes unload {
    from { height: 0; bottom: 0; }
    to { height: 100vh; bottom: 0; }
}

@keyframes menu_open {
    from { top: -100vh }
    to { top: 0vh }
}

@keyframes menu_close {
    from { top: 0vh }
    to { top: -100vh }
}

/* ========= */

@keyframes loading {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* ========= */

.font-nn { font-family: "Nunito"; }
.font-ms { font-family: "Montserrat"; }

.bg-c { color: var(--bg); }
.primary-c { color: var(--primary); }
.secondary-c { color: var(--secondary); }
.button-c { color: var(--button); }
.light-c { color: var(--light); }

.bg-b { background-color: var(--bg); }
.primary-b { background-color: var(--primary); }
.secondary-b { background-color: var(--secondary); }
.button-b { background-color: var(--button); }
.light-b { background-color: var(--light); }

.arrow { width: 21px; height: 21px; }

@media (min-width: 1440px) {
    .arrow { width: 28px; height: 28px; }
}

/* ========= */

.cursor {
    width: 14px;
    height: 14px;
    opacity: 0;
    transform: translate(-50%, -50%);

    border-radius: 7px;
    background-color: #FFFFFF;
    mix-blend-mode: difference;
    border: 0px solid #FFFFFF;

    z-index: 1000;
    position: fixed;
    pointer-events: none;

    transition:
        opacity 0.1s ease,
        transform 0.1s ease,
        border 0.1s ease;
}

@media (min-width: 1440px) {
    .cursor {
        width: 18px;
        height: 18px;
        border-radius: 9px;
    }
}

/* ========= */

.menu {
    width: 100vw;
    height: 100vh;
    padding: 20px 30px 100px;
    background-color: var(--light);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 45px;

    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 11;
}

.menu .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}

.menu .settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.menu .settings > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu .list {
    display: flex;
    gap: 15px;

    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    cursor: pointer;
}

.menu .list [active] {
    color: var(--primary);
}

@media (min-width: 711px) {
    .menu {
        padding: 30px 50px;
        gap: 30px;
    }

    .menu .links {
        order: 0;
        gap: 30px;
        margin-bottom: 50px;
    }
    
    .menu .links > div {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 48px;
        letter-spacing: 0.06em;
    }

    .menu .links > [active] {
        font-weight: 900;
        color: var(--secondary)
    }    

    .menu .settings > div {
        width: 250px;
    }
}

@media (min-width: 1440px) {
    .menu {
        padding: 30px 110px;
        gap: 30px;
    }
}

/* ========= */

.content  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.topic {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: var(--secondary);
    transition: color 0.3s ease;
}

.bodytext {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--primary);
    transition: color 0.3s ease;
}

@media (min-width: 711px) {
    .content  {
        flex-direction: row;
        justify-content: space-between;
        gap: auto;
        width: 100%;
    }

    .topic {
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
    }

    .bodytext {
        width: 589px;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
    }
}

@media (min-width: 1660px) {
    .topic {
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
    }

    .bodytext {
        width: 667px;
        font-size: 32px;
        line-height: 38px;
    }
}

/* ========= */

.preloader {
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #0D0D0D;
}

/* ========= */

nav {
    width: 100vw;

    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid var(--button);
    transition: background-color 0.3s ease;
}

nav .logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: 0.06em;
    color: var(--primary);

    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

nav .links { display: none; }

.hamburger {
    display: flex;
    align-items: center;
    
    width: 30px;
    height: 10px;
    cursor: pointer;
}

.hamburger .shape::before,
.hamburger .shape::after {
    top: 8px;
    content: "";
    position: absolute;

    width: 30px;
    height: 2px;
    background-color: var(--primary);
}

.hamburger .shape { position: relative; }
.hamburger .shape::before { top: -4px; }
.hamburger .shape::after { top: 4px; }

@media (min-width: 700px) {
    nav { padding: 10px 50px; }

    .hamburger { display: none; }
    
    nav .links {
        display: flex;
        gap: 20px;
    }

    nav img {
        display: inline-block;
    }
}

@media (min-width: 1440px) {
    nav { padding: 20px 110px; }

    nav .logo {
        font-weight: 700;
        font-size: 28px;
        line-height: 44px;
    }
    
    nav .links {
        font-size: 22px;
    }
}

@media (min-width: 1660px) {
    nav { padding: 20px calc(50vw - 720px); }
}

/* ========= */

.title {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary);
    transition: color 0.3s ease;
}

@media (min-width: 530px) {
    .title { font-size: 36px; }
}

@media (min-width: 580px) {
    .title { font-size: 42px; }
}

@media (min-width: 700px) {
    .title { font-size: 48px; }
}

@media (min-width: 900px) {
    .title { font-size: 64px; }
}

@media (min-width: 1200px) {
    .title { font-size: 80px; }
}

@media (min-width: 1440px) {
    .title { font-size: 96px; }
}

@media (min-width: 1660px) {
    .title { font-size: 108px; }
}

/* ========= */

.footer {
    width: 100vw;
    position: relative;

    padding: 20px 30px;
    color: #F2F2F2;
    background: #0D0D0D;
}

.footer .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer .grid > div:first-child {
    font-family: "Nunito";
}

.footer .logo {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.06em;
    color: #F2F2F2;
}

.footer .copyright {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
}

.footer .grid > div > .copyright { display: none; }

.footer .subtext {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #F2F2F2;
}

.footer .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 50px;
    margin-bottom: 40px;

    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F2F2F2;
}

.footer .grid > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .grid > div div:first-child {
    cursor: default;
}

.footer .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
    margin-bottom: 0;
    font-family: "Nunito";
    text-transform: none;
}

.footer .btt {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #F2F2F2;
    cursor: pointer;
}

.footer .btt img {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (min-width: 711px) {
        
    .footer {
        padding: 50px;
    }

    .footer .top {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer .logo {
        font-weight: 800;
        font-size: 32px;
        line-height: 33px;
        letter-spacing: 0.06em;
        margin-bottom: 20px;
    }

    .footer .top > .copyright { display: none; }
    .footer .grid > div > .copyright { display: unset; }

    .footer .subtext {
        margin-bottom: 20px;
    }

    .footer .grid > div:first-child {
        width: 260px;
        gap: 0;
    }

    .footer .grid {
        gap: 40px 110px;
        margin: 0;
    }

    .footer .grid > div {
        gap: 15px;
    }

    .footer .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 20px;
    }

    .footer .btt {
        position: absolute;
        bottom: 60px;
        right: 0;
        transform: rotate(-90deg) translate(40%, 90%);

        display: flex;
        gap: 30px;
    }

    .footer .btt img {
        display: unset;
    }
}

@media (min-width: 1440px) {
    .footer .btt {
        transform: rotate(-90deg) translate(40%, 90%);
        right: 110px;
    }

    .footer .logo {
        font-size: 36px;
        line-height: 37px;
        margin-bottom: 30px;
    }

    .footer .subtext {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .footer .grid > div:first-child {
        width: 300px;
    }

    .footer .copyright {
        font-size: 18px;
    }

    .footer .title {
        font-size: 28px!important;
        line-height: 35px;
        margin-bottom: 30px;
    }

    .footer .links > div {
        font-size: 24px;
    }

    .footer {
        padding: 50px 100px;
    }
}

@media (min-width: 1660px) {
    .footer .btt { right: calc(50vw - 720px); }
    .footer { padding: 50px calc(50vw - 720px); }
}