* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #D2D2D2;
    --primary: #0D0D0D;
    --secondary: #2D2D2D;
    --light: #E7E7E7;
    --button: #C3C3C3;

    --artwork: 0.1;

}

html::-webkit-scrollbar {
    display: none;
  }
  

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    transition: background-color 0.3s ease;
    overflow: overlay;
}

button, input[type="submit"] {
    border: none!important;
    outline: none!important;

    padding: 6px 15px;
    background: var(--button);
    border-radius: 25px;
    width: fit-content;

    font-family: "Nunito";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--primary);
    transition: 0.3s ease;
    cursor: pointer;
}

/* ========= */

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat.ttf") format("truetype");
    font-weight: 800;
}

/* ========= */

@keyframes loading {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* ========= */

.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #0D0D0D;
    animation: 0.6s ease 2s both fadeOut;
}

.progressbar {
    bottom: 0;
    width: 0;
    height: 4px;
    position: absolute;
    background-color: #F2F2F2;
    animation: 1.5s ease 0.5s both loading;
}

/* ========= */

.menu {
    width: 100vw;
    height: 100vh;
    padding: 20px 30px;
    background-color: var(--light);
    transition: background-color 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 45px;
    position: fixed;
    z-index: 100;
}

.menu .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    font-family: "Montserrat";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--primary);
    transition: color 0.3s ease;
}

.menu .links > [active] {
    font-weight: 700;
}

.menu .settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    font-family: "Nunito";
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: var(--primary);
}

.menu .settings > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu .switch div {
    width: 32px;
    height: 20px;
    position: relative;
    border-radius: 10px;
    background-color: var(--button);
    transition: 0.3s ease;
    cursor: pointer;
}

.menu .switch span {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: var(--secondary);
    transition: 0.3s ease;
}

.menu .list {
    display: flex;
    gap: 15px;

    font-family: "Nunito";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--button);
    cursor: pointer;
}

.menu .list [active] {
    color: var(--primary);
}

/* ========= */

.main-page {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100vw;
    font-family: "Nunito";
    transition: 0.3s ease;

    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.hamburger {
    width: 53px;
    height: 42px;
    display: flex;
    align-items: center;

    opacity: 0;
}

.hamburger .shape {
    position: relative;
}

.hamburger .shape::before,
.hamburger .shape::after {
    top: 8px;
    content: "";
    position: absolute;

    width: 30px;
    height: 2px;
    background-color: var(--primary);
    transition: background-color 0.3s ease;
}

.hamburger .shape::before { top: -4px; }
.hamburger .shape::after { top: 4px; }

nav .logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;

    text-align: center;
    letter-spacing: 0.06em;

    color: var(--primary);
    transition: color 0.3s ease;
}

nav .theme {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    letter-spacing: 0.06em;
    color: var(--secondary);
    transition: color 0.3s ease;

    opacity: 0;
}
/* 
@media (min-width: 768px) {

    nav .logo {
        font-size: 28px;
    }

    .hamburger {
        opacity: 1;
    }

    nav .theme {
        opacity: 1;
    }

} */

/* ========= */

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

    padding: 0 30px;
}

.hero .title {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary);
    transition: color 0.3s ease;
}

.hero .subtext {
    font-family: "Nunito";
    font-weight: 600;
    font-size: 20px;
    color: var(--secondary);
    transition: color 0.3s ease;
    padding-right: 10px;
}

/* ========= */

.about {
    padding: 0 30px;
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

.about .content {
    font-family: "Nunito";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.about .topic {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: var(--secondary);
    transition: color 0.3s ease;
}

.about .bodytext {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--primary);
    transition: color 0.3s ease;
}

.about .experience {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    font-family: "Montserrat";
}

.about span:first-child {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.06em;
    color: var(--primary);
    transition: color 0.3s ease;
}

.about span:last-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: var(--primary);
    transition: color 0.3s ease;
}

/* ========= */

.works {
    padding: 100px 30px;
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

.works .content {
    font-family: "Nunito";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.works .topic {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: var(--secondary);
    transition: color 0.3s ease;
}

.works .bodytext {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--primary);
    transition: color 0.3s ease;
}

.works .list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.works .artwork {
    width: calc(580px * var(--artwork));
    height: calc(300px * var(--artwork));
    background-color: var(--primary);
    transition: background-color 0.3s ease;
}

.works .text {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--primary);
    transition: color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 10px;
}

.works .work:first-child .artwork {
    background: radial-gradient(156.71% 527.2% at -17.07% -34.66%, #28CFDA 0%, #A7A95E 48.81%, #383DBD 100%)
}

.works .work:last-child .artwork {
    background: conic-gradient(from 203.09deg at 86.81% 81.31%, #72A95E -150deg, #BD38A8 26.57deg, #DA2828 60deg, #72A95E 210deg, #BD38A8 386.57deg);
}

/* ========= */

.reviews {
    padding: 100px 30px;
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

.reviews .content {
    font-family: "Nunito";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.reviews .topic {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: var(--secondary);
    transition: color 0.3s ease;
}

.reviews .bodytext {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--primary);
    transition: color 0.3s ease;
}

.vlist {
    margin-top: 50px;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    position: relative;
}

.review .text {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--primary);
    transition: color 0.3s ease;
}

.review .author {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary);
    transition: color 0.3s ease;
}

.review .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;

    position: absolute;
    bottom: 0;
    right: 0;
}

.review .controls > div {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: var(--button);
    transition: background-color 0.3s ease;

    display: grid;
    place-items: center;
}

.review .icon {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: var(--primary);
    transition: color 0.3s ease;
}

.review .prev svg {
    margin-right: 1px;
}

.review .next svg {
    margin-left: 1px;
}

/* ========= */

.contact {
    padding: 100px 30px;
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

.contact .content {
    font-family: "Nunito";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.contact .topic {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: var(--secondary);
    transition: color 0.3s ease;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 100%;
}

input[type="text"],
input[type="email"] {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary);
    transition: border 0.3s ease;
}

input::placeholder,
input[type="text"],
input[type="email"] {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color: var(--primary);
    transition: color 0.3s ease;
}

/* ========= */

.footer {
    padding: 20px 30px;
    color: #F2F2F2;
    background: #0D0D0D;
}

.footer .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer .logo {
    font-family: "Nunito";
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.06em;
    color: #F2F2F2;
}

.footer .copyright {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
}

.footer .subtext {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #F2F2F2;
    margin-bottom: 40px;
}

.footer .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 50px;
    margin-bottom: 40px;

    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F2F2F2;
}

.footer .grid > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .grid .title {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
}

.footer .btt {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #F2F2F2;
}

a {
    color: inherit;
    text-decoration: none;
}