.about, .works {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

/* ========= */

.preloader {
    z-index: 20;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #0D0D0D;
}

/* ========= */

.menu {
    width: 100vw;
    height: 100vh;
    padding: 20px 30px;
    background-color: var(--light);
    transition: background-color 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 45px;
    position: fixed;
    z-index: 11;
}

.menu .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.menu .links > [active] {
    font-weight: 700;
}

.menu .settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.menu .settings > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu .switch div {
    width: 32px;
    height: 20px;
    position: relative;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.menu .switch span {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 0.3s ease;
}

.menu .list {
    display: flex;
    gap: 15px;

    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    cursor: pointer;
}

.menu .list [active] {
    color: var(--primary);
}

/* ========= */

.main-page {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
@media (min-width: 768px) {

    nav .logo {
        font-size: 28px;
    }

    .hamburger {
        opacity: 1;
    }

    nav .theme {
        opacity: 1;
    }

} */

/* ========= */

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

    padding: 0 30px;
}

.hero .subtext {
    font-weight: 600;
    font-size: 20px;
    color: var(--secondary);
    transition: color 0.3s ease;
    padding-right: 10px;
}

/* ========= */

.about {
    padding: 0 30px;
    opacity: 0;
}

.about .experience {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    font-family: "Montserrat";
}

.about span:first-child {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.06em;
    color: var(--primary);
    transition: color 0.3s ease;
}

.about span:last-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: var(--primary);
    transition: color 0.3s ease;
}

/* ========= */

.works {
    padding: 100px 30px;
    opacity: 0;
}

.works .list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.works .artwork {
    width: calc(580px * var(--artwork));
    height: calc(300px * var(--artwork));
    background-size: cover;
    background-position: center;
    transition: background-color 0.3s ease;
}

.design .img1 { background-image: url(https://notjusta.github.io/squares/images/FrolarDesign.png); }
.design .img2 { background-image: url(https://notjusta.github.io/squares/DavisFitCo.png); }
.webdev .img1 { background-image: url(https://images.unsplash.com/photo-1561584697-c6a5a41f8359?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); }
.webdev .img2 { background-image: url(https://images.unsplash.com/photo-1549619856-ac562a3ed1a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); }
.ecommerce .img1 { background-image: url(https://images.unsplash.com/photo-1567443756539-26a8fdd248cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); }
.ecommerce .img2 { background-image: url(https://images.unsplash.com/photo-1553264646-7eb44743436f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=831&q=80); }

.works .text {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--primary);
    transition: color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 10px;
}

/* ========= */

.reviews {
    padding: 100px 30px;
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

.reviews .topic {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: var(--secondary);
    transition: color 0.3s ease;
}

.vlist { margin-top: 50px; }

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    position: relative;
}

.review .text {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--primary);
    transition: color 0.3s ease;
}

.review .author {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary);
    transition: color 0.3s ease;
}

.review .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;

    position: absolute;
    bottom: 0;
    right: 0;
}

.review .controls > div {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: var(--button);
    transition: background-color 0.3s ease;

    display: grid;
    place-items: center;
}

.review .icon {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: var(--primary);
    transition: color 0.3s ease;
}

.review .prev svg { margin-right: 1px; }
.review .next svg { margin-left: 1px; }

/* ========= */

.contact {
    padding: 100px 30px;
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

.contact .content { gap: 40px; }

.contact .topic {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: var(--secondary);
    transition: color 0.3s ease;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 100%;
}

input[type="text"],
input[type="email"] {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary);
    transition: border 0.3s ease;
}

input::placeholder,
input[type="text"],
input[type="email"] {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color: var(--primary);
    transition: color 0.3s ease;
}
