body {
    width: 100vw;
    padding: 64px 30px 0;
}

/* ========= */

.title {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabs {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

/* ========= */

.preview {
    width: 100vw;
    height: calc(360px * var(--artwork));
    background-size: cover;
    background-position: center;
    transition: background-color 0.3s ease;
    margin: 0 0 30px -30px;
}

/* ========= */

.content {
    margin-bottom: 40px;
}

.img1 { background-image: url(https://images.unsplash.com/photo-1526409049865-5b0b188372f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80); }

/* ========= */

.mockups {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.image {
    width: calc(580px * var(--artwork));
    height: calc(360px * var(--artwork));
    background-size: cover;
    background-position: center;
    transition: background-color 0.3s ease;
    background-image: url(Mockup.png);
}

.dots {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
}

.dots > div {
    width: 12px;
    height: 12px;
    border: 3px solid var(--secondary);
    border-radius: 6px;
}

.dots > div[active] {
    border: none;
    background: var(--primary);
}
/* ========= */

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: relative;

    text-align: center;
}

.review .top {
    height: 40px;
    font-weight: 700;
    font-size: 48px;
}

.review .text {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--primary);
    transition: color 0.3s ease;
}

.review .author {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary);
    transition: color 0.3s ease;
}

/* ========= */

.footer {
    width: 100vw;
    margin-top: 60px;
    margin-left: -30px;
}
