body {
    width: 100vw;
    padding: 107px 30px 0;
}

@media (min-width: 450px) {
    body { padding: 107px 50px 0; }
}

/* ========= */

.title {
    margin-bottom: 40px;
}

@media (min-width: 450px) {
    .title { margin-bottom: 50px; }
}

/* ========= */

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    position: relative;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 100%;
}

.cnumber {
    color: var(--primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.06em;
    margin-bottom: 60px;
}

.submit {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.agreevement {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06em;
    color: var(--primary);
}

input[type="text"],
input[type="email"],
textarea {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary);
}

input::placeholder,
input[type="text"],
input[type="email"],
textarea,
textarea::placeholder {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color: var(--primary);
}

@media (min-width: 711px) {
    form { flex-direction: row-reverse; }
    .inputs { width: 600px; gap: 40px; }

    .cnumber {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 40px;
    }

    .submit {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .submit {
        gap: 30px;
    }
    
    .agreevement {
        font-size: 16px;
        line-height: 20px;
    }

    input::placeholder,
    input[type="text"],
    input[type="email"],
    textarea,
    textarea::placeholder {
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }
}

/* ========= */

.footer {
    width: 100vw;
    margin-top: 60px;
    margin-left: -30px;
}

@media (min-width: 711px) {
    .footer { margin-left: -50px; }
}